@model IEnumerable<MVC5OnlineTicariOtomasyon.Models.Siniflar.BasitTabloSinif2>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Departman Personel Sayıları</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Departman</th>
                    <th>Progress Bar</th>
                    <th style="width: 40px">Sayı</th>
                </tr>
            </thead>
            <tbody>
            @{ int siraNo = 0;}
            @foreach (var x in Model)
            {
                <tr>
                    <td>
                        @{ siraNo++;}
                        @siraNo</td>
                    <td>@x.Departman</td>
                    <td>
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                        </div>
                    </td>

                    @*progress barın rengini if kullanarak ayarlayabilirsin. if x.deger==2 ise sarı olan gibi*@
                    <td><span class="badge bg-danger">@x.Sayi</span></td>
                </tr>
            }

            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>